<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field" v-model="userSearch">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button">Корзина</button>
                <div class="cart-block invisible"></div>
            </div>
        </header>
        <main>
            <h1>Каталог</h1>
            <div class="products">
                <div class="product-item" v-for="item of filtered" :key="item.id_product">
                    <img :src="imgCatalog" alt="Some img">
                    <div class="desc">
                        <h3>{{item.product_name}}</h3>
                        <p>{{item.price}} $</p>
                        <button class="buy-btn" @click="addProduct(item)">Купить</button>
                    </div>
                </div>
            </div>
            <h1>Корзина</h1>
            <div class="product-item" v-for="item of cart" :key="item.id_product">
                <img :src="imgCatalog" alt="Some img">
                <div class="desc">
                    <h3>{{item.product_name}}</h3>
                    <p>{{item.price}} $</p>
                    <p>Количество {{item.quantity}} шт.</p>

                </div>
            </div>


        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>

</html>