* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
    background-color: rgb(73, 70, 221);
    width: 100%;
    display: flex;
    position: relative;
}

.head {
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    
}

h1 {
    font-size: 50px;
    color: white;
}

.btn-cart {
    padding: 5px 10px;
}

.products {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.contact_us {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    flex-wrap: wrap;
}

.form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.form button {
    display: block;
    padding: 5px 10px;
    margin-bottom: 5px;
    margin: 0 auto;
}


.product-item {
    margin: 15px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.65);
    padding: 30px;
}

.product_img {
    width: 300px;
    height: 200px;
}

.product_info {
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.buy-btn {
    padding:0.3em 1.2em;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    border: none;
    cursor: pointer;
}

.buy-btn:hover {
        background-color:#4095c6;
    }

.buy-btn:focus {
    outline: none;
}   

.cart {
    width: 30vw;
    margin: 10px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #fff;
    padding: 5px;
    position: absolute;
    top: 65%;
    left: 65%;
}

.cart_item {
    border: 1px solid grey;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.cart_item button {
    align-self: center;
    margin-right: 5px;
    padding: 2px;
}

.cartData {
    margin-left: 5px;
}

.cart_img {
    width: 100px;
    height: 50px;
    align-self: center;
}

#cartPrice {
    display: block;
    margin-top: 15px;
}

.red {
    border: 2px solid red;
}

.head_content {
    display: flex;
}

.find_content {
    margin-right: 20px;  
}

.find_content input {
    width: 100%;
    padding: 5px;
    margin: 0;
    box-sizing: border-box
}